<div class="profile-section">
  <!-- <div class="profile-image-wrapper">
    <img class="profile-image" [src]="profilePath" alt="Profile Picture">
  </div> -->
  <div class="content">  
  <p class="greeting">Welcome to my potfolio website!</p>
  <p class="intro">
    Hey folks, I'm<strong> {{ displayedText }}</strong>.<br>
    </p>
    <p class="info">
    A passionate developer skilled in building user-friendly interfaces and efficient web applications.
    </p>

  <div class="buttons">
    <a href="assets/Resume.pdf" download class="button resume"><img class="resumeimg" src="assets/images/file.png">Resume</a>
    <a href="#contact" class="button quote">Get a Free Quote</a>
  </div>
  </div>

  <div class="image">
    <img src="assets/images/home.png" alt="Developer Image">
  </div>
</div>
